My first Notebook

In [1]:
addition = 3 + 4
print(addition)

7

In [3]:
substraction = 3 - 4
print(substraction)

-1

In [4]:
multiplication = 3 * 4
print(multiplication)

12

In [5]:
modules = 3 % 4
print(modules)

3

In [6]:
division = 3 / 4
print(division)

0.75

In [7]:
exponential = 3 ** 4
print(exponential)

81

In [8]:
floor = 3 // 4
print(floor)

0

String operations

In [9]:
my_name = "FARUK_HUSSAIN"
print(my_name)

FARUK_HUSSAIN

In [10]:
family_name = "hussain_family"
print(family_name)

hussain_family

In [11]:
my_country = "NIGERIA"
print(my_country)

NIGERIA

In [12]:
print("I am enjoying 30 of Python")

I am enjoying 30 of Python

In [13]:
print(type(10))

<class 'int'>

In [14]:
print(type(9.8))

<class 'float'>

In [15]:
print(type(3.14))

<class 'float'>

In [16]:
print(type(4 - 4j))

<class 'complex'>

In [17]:
print(type(['asabeh', 'python', 'Finland']))

<class 'list'>

In [19]:
my_name = "FARUK_HUSSAIN"
print(type(my_name))

<class 'str'>

In [20]:
print(type(my_country))

<class 'str'>

In [21]:
print(type(family_name))

<class 'str'>